/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: #F5BAAB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titles{
    color: #F5DEAB;
    text-align: center;
} 

#copyright{
    color: white;
}

img{
    border: 2px solid #E6F5AB;
    text-align: center;
}

abbr{
    text-decoration: none;
}

.lists{
    color: white;
    list-style-type: square;
}

nav ul {
    color: #F5DEAB;
    list-style: none;
    text-align: center;
    background-color: #E6F5AB;
    display: block;
    margin: 0;
    
}

nav li {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    color: #F5DEAB;
    background-color: #E6F5AB;
    padding: 10px;
}

nav li a {
    color: #F5BAAB;
    text-decoration: none;
    background-color: #E6F5AB;
}

.texts{
    color: white;
    margin-left: 10%;
}

.indented-paragraph {
    white-space: pre-line;
    color: white;
}

.text-links{
    color: white;
}
.about-me{
    color: #F5DEAB;
    text-decoration-color: #F5DEAB;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
.footer {
    text-align: center;  
}

.image-container {
    text-align: center;
    width: 100%;
}
.project-container {
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Wrap items onto a new line if the container is too narrow */
}

.project {
    margin-left: 5%;
    margin-right: 5%;
}

.headers {
    color: #E6F5AB;
}

.movie-genres {
    margin-left: 5%;
    margin-right: 5%;
}

.all-movies {
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Wrap items onto a new line if the container is too narrow */
}

.to-dos {
    margin-left: 5%;
    margin-right: 5%;
}

.birthday-instructions {
    display: flex; 
    justify-content: center;
    text-align: center;
    flex-wrap: wrap; /* Wrap items onto a new line if the container is too big for page */
}

#birthday-cake {
    max-width: 100%;
    
}

#movie-ranking-project{
    color: #E6F5AB;
}
#birthday-invite-project{
    color: #E6F5AB; 
}
hr{
    color: #E6F5AB;
}